<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <title>Report Tool</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">
  
</head>

<body class="hold-transition skin-blue layout-top-nav">
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><b>Report</b>Tool</a>
          </div>
        </div>
      </nav>
    </header>

    <div class="content-wrapper">
      <div class="container">
        <section class="content-header">
            {% for message in get_flashed_messages()%}
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ message }}
          </div>
            {% endfor%}
        </section>

        <section class="content">
          <div class="box box-primary">
            <div class="box-body">
              <table id="dataphone" class="table table-bordered table-striped">
                <thead align="center">
                  <tr>
                    <th >Employee ID</th>
                    <th>Punch Time</th>
                    <th>Log Type</th>
                    <th>Shift</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% if data|length == 0 %}
                  <tr>
                    <td>No Data</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                    {% else %}
                  <tr>
                      {% for row in data %}
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                  </tr>
                      {% endfor %}
                    {% endif%}   
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>

    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>Version</b> 0.1
        </div>
      </div>
    </footer>
  </div>
  

  <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/buttons.html5.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jszip.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.fixedHeader.min.js')}}"></script>



  <script>
    $(document).ready(function() {
      // Setup - add a text input to each footer cell
    $('#dataphone thead tr').clone(true).appendTo( '#dataphone thead' );
    $('#dataphone thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );



      var table = $('#dataphone').DataTable({
        lengthMenu : [ 10, 25, 50, 75, 100 ],
        orderCellsTop: true,
        fixedHeader: true,
          dom:'Bfrtip',
          buttons: [
          {
            extend: 'excelHtml5',
            text: 'Download Excel',
            customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                $('row:first c', sheet).attr( 's', '42' );
            }
        }
         ]
      });
  });
     
  </script>

</body>
</html>
